<div class="d-flex flex-column align-items-center">
  <div class="mt-5 text-center">
    <h1>Learn Verb Conjugation</h1>
  </div>
  <div class="mt-5">
    <%= link_to 'Start', @verb, class: 'btn btn-primary' %>
  </div>
  <div class="mt-5">
    <%= link_to 'Add New Verb', new_verb_path, class: 'btn btn-primary' %>
  </div>
</div>
